@model List<TodoApp.Models.Todoitem>
@{
}
<h1 style="background-color:#EAE4D5; text-align:center;  border-radius: 10px; ">TODO List</h1>
<br />

@* //search function *@
<form asp-action="Index" method="get">
	<div class="input-group mb-3">
		<input type="text" name="searchQuery" class="form-control" placeholder="search tasks...." value="@ViewData["SearchQuery"]" />
		<button type="submit" class="btn btn-primary">Search</button>
	</div>

</form>

<a asp-Controller="Todo" asp-action="Create" class="btn btn-primary">Add Todo</a>
<br />

@if (!Model.Any())
{
	<p class="text-muted"> No task found Matching your search</p>
}
else
{
	<br />
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Completed</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var todo in Model)
			{
				<tr>
					<td>@todo.Title</td>
					<td>@todo.IsCompleted</td>
					<td>
						<a asp-Controller="Todo" asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-secondary">Edit</a>

						<a asp-Controller="Todo" asp-action="Delete" asp-route-id="@todo.Id" class="btn btn-danger">Delete</a>
					</td>

				</tr>
			}

		</tbody>
	</table>
}
